---
import EmailCapture from './EmailCapture.jsx';
---

<section class="py-12 sm:py-20 lg:py-28">
  <div class="container flex sm:max-w-5xl flex-col gap-6">
    <h1 class="text-balance font-heading font-semibold text-4xl sm:text-5xl md:text-6xl lg:text-[66px] text-zinc-800">
      Declutter your investments. Reclaim your time.
    </h1>

    <p class="max-w-2xl text-balance text-stone-500 leading-normal font-regular text-muted-foreground sm:text-xl sm:leading-8">
      Drowning in emails? Feeling disorganized, disconnected and overwhelmed? The new command
      center for your LLCs is coming soon.
    </p>

    <EmailCapture client:load />
  </div>
</section>
