<section>
  <div class="container flex flex-col gap-6">
    <h2
      class="text-balance font-heading font-semibold text-2xl md:text-3xl  text-zinc-800"
    >
      Why we're building Covault
    </h2>
    <div class="w-full max-w-[600px] bg-white shadow-lg rounded-lg border border-zinc-200 p-6 space-y-4 font-serif font-regular px-10 py-12 text-zinc-700">
      <p>Dear Entrepreneurs, Angels, Small Business Owners,</p>
      <p>In recent years, there's been a noticeable growth in people starting, participating and investing in small, growing businesses. This trend is opening up new possibilities for financial independence and innovation.</p>
      <p>But here's the thing – with great opportunity comes... usually a ton of messy communication and paperwork. We've been there ourselves. The moment you form or join that new LLC is thrilling. Then reality sets in. Suddenly, you're juggling documents, trying to keep track of evolving agreements, managing multiple partners across different ventures, and drowning in a sea of tax obligations and compliance requirements.</p>
      <p>We found ourselves spending more time wrestling with administrative tasks than focusing on what we were actually excited about. And we know we aren’t alone in this struggle.</p>
      <p>That's why we're building Covault. Our goal isn't just to simplify LLC management – it's to transform it from a necessary evil into a something you barely even think about. We want to create a space that lets you enjoy operating your businesses.</p>
      <p>The Founders, Covault</p>
      <p>P.S. We're currently looking for design partners. If you're interested in sharing your experiences, please reach out to <a class="underline" href="mailto:hi@covault.co">hi@covault.co</a>. Your feedback will be crucial in shaping a tool that meets the needs of modern entrepreneurs and investors.</p>
    </div>
    <div class="flex justify-center space-x-2 md:space-x-4"></div>
  </div>
</section>
