---
import DocumentScan from "./graphics/DocumentScan.jsx";
import ComplianceCalendar from "./graphics/ComplianceCalendar.jsx";
import Insights from "./graphics/Insights.jsx";
import Hub from "./graphics/Hub.jsx";
---

<section id="features">
  <div class="mx-auto w-full items-center py-24 scroll-mt-12">
    <div class="mx-auto">
      <div>
        <p
          class="text-4xl font-medium md:text-5xl font-display text-balanced text-zinc-800"
        >
          Centralized, intelligent investment management
        </p><p
          class="mt-4 text-lg text-na mx-auto tracking-tight text-stone-500"
        >
          Sleep easy knowing your LLC investments are organized, secure, and on
          track
        </p>
      </div>
    </div>
    <div>
      <div class="mx-auto pt-12">
        <h2 class="sr-only">Features.</h2><div>
          <div class="grid gap-6 grid-cols-1 lg:space-y-0 md:grid-cols-2">
            <div class="md:col-span-2">
              <DocumentScan client:load />
            </div>
            <ComplianceCalendar client:load />
            <Insights client:load />
            <Hub client:load />
              <!-- <div>
                <div
                  class="items-center justify-center text-accent-500 bg-gray-100 rounded-xl flex h-10 w-10 lg:mx-auto"
                >
                  <ion-icon
                    aria-label="scan outline"
                    class="hydrated md h-4 w-4"
                    name="scan-outline"
                    role="img"></ion-icon>
                </div><p
                  class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight"
                >
                  Tax time, simplified
                </p>
              </div><div class="mt-4 text-gray-500 text-sm">
                All your financials and documents are pre-sorted and ready for
                tax season—saving you time and headaches.
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
